{% extends "plantilla.html" %}

{% block titulo %} Estudiantes {% endblock %}

{% block contenido %}

    <div class="card">
        <div class="card-header">Listado de estudiantes</div>
        <div class="card-body">
            <h4 class="card-title">Estudiantes</h4>

            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombres</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Foto</th>
                            <th scope="col">Clase</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="">
                            <td scope="row">1</td>
                            <td>Carlos Maria</td>
                            <td>Perez Florez</td>
                            <td>foto_1.jpg</td>
                            <td>Bases de Datos</td>
                            <td>Editar | borrar</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            

        </div>
        <div class="card-footer text-muted">Footer</div>
    </div>


{% endblock %}